<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".ZendoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_zendo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_zendo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZendoApps">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.ListActivity" />
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.DetailActivity" />
        <activity android:name=".ui.activities.AddProductActivity" />
        <activity android:name=".ui.activities.CartActivity" />
        <activity android:name=".ui.activities.ProfileActivity" />
        <activity android:name=".ui.activities.FavoriteActivity" />
        <activity android:name=".ui.activities.AccountDetailActivity" />
        <activity android:name=".ui.activities.PersonalInfoActivity" />
        <activity android:name=".ui.activities.NotificationActivity" />
        <activity android:name=".ui.activities.CheckoutActivity" />
        <activity android:name=".ui.activities.OrderListActivity" />
        <activity android:name=".ui.activities.OrderDetailActivity" />
        <activity android:name=".ui.activities.ReviewListActivity" />
        <activity android:name=".ui.activities.AdminReviewsActivity" />
        <activity android:name=".ui.activities.VoucherManagementActivity" />
        <activity android:name=".ui.activities.AddVoucherActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.ChatActivity" />
        <activity android:name=".ui.activities.ForgotPasswordActivity" />
        <activity android:name=".ui.activities.RevenueActivity" />
        <activity android:name=".ui.activities.ZendoPayActivity" />
        <activity android:name=".ui.activities.AddressListActivity" />
        <activity android:name=".ui.activities.AddAddressActivity" />
        <activity android:name=".ui.activities.WarrantyPolicyActivity" />
        <activity android:name=".ui.activities.RequestReturnActivity" />
        <activity android:name=".ui.activities.AdminReturnListActivity" />
        <activity android:name=".ui.activities.AdminReturnDetailActivity" />
        <activity android:name=".ui.activities.RequestWarrantyActivity" />
        <activity android:name=".ui.activities.AdminWarrantyListActivity" />
        <activity android:name=".ui.activities.AdminWarrantyDetailActivity" />
        <activity android:name=".ui.activities.PaymentSettingsActivity" />
        <activity android:name=".ui.activities.CancelOrderDetailActivity" />
        <activity android:name=".ui.activities.ManageAttributesActivity" />
        <activity android:name=".ui.activities.AddReviewActivity" />

        <service
            android:name=".services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>